<form method="POST" action="{{path('encoder')}}">

<center>
<label>email:</label>
<input type='email' style='width:400px;' class="form-control form-control-lg" placeholder="nom" data-sb-validations="required,nom" name='email'></br>

<label>MOT DE PASSE</label>
<input type='password' style='width:400px;' class="form-control form-control-lg" placeholder="prix" data-sb-validations="required,nom"  name='password'></br>


<label>nom</label>
<input type='text' style='width:400px;' class="form-control form-control-lg" placeholder="prix" data-sb-validations="required,nom"  name='nom'></br>

<label>prix</label>
<input type='number' style='width:400px;' class="form-control form-control-lg" placeholder="prix" data-sb-validations="required,nom"  name='prix'></br>

<label>description</label>
<input type='text' style='width:400px;' class="form-control form-control-lg" placeholder="prix" data-sb-validations="required,nom"  name='description'></br>



<button class='btn btn-success btn-lg'type='submit'>Send</button>
</center>